.login h1{
    font-size: xx-large;
    color:#124474;
    font-weight:600;
    margin: 0 auto;
    text-align: center;
}
.login p {
    margin: 0 auto ;
    padding:10px;
}
.login form{
    margin: 0 auto;
    text-align: center;
}
.big{
    font-size: 24px;
    text-align: center;
    font-weight: 500;
}
.loginBtn{
    width: 30%;
}