@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");/* roboto */
*{margin: 0; padding: 0;}
a{text-decoration: none; color:#222}
a:hover{color:#000}
html{font-size:62.5%; overflow-x:hidden; overflow-y:scroll;}
 /*1rem->10px */
body, input, textarea, select, button, table{
  font-family: "Noto Sans KR", sans-serif, "Roboto", AppleSDGothicNeo, sans-serif; color: #222; line-height: 1.75; font-weight: 400; font-size: 16px;}
body{-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}
/* 글꼴 계단 현상완화 */
body{letter-spacing: -1px;}
body{box-sizing: border-box;}
em, address{font-style:normal;}
dl,
ul,
ol,
li,
menu { list-style: none; } 
h1,
h2,
h3,
h4,
h5,
h6 { font-size: 1.3rem; /* =13픽셀 */
 color: #222; font-weight: normal; } 
 img,
fieldset { border: 0 none; } 
button { border: 0; } 
.fl { float: left; } 
.fr { float: right; } 
.cb { clear: both; } 
.cf::after { content: " "; display: block; clear: both; } 
.mb10 { margin-bottom: 10px !important; } 
.mb20 { margin-bottom: 20px !important; } 
.mb30 { margin-bottom: 30px !important; } 
.mb40 { margin-bottom: 40px !important; } 
.mb50 { margin-bottom: 50px !important; } 
.mb100 { margin-bottom: 100px !important; } 